@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Urbanist";
  src: url("/fonts/Urbanist-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-display: "Urbanist", sans-serif;
  --breakpoint-desktop: 844px;
  --breakpoint-tablet: 714px;
  --breakpoint-xs: 454px;
  /* page background */
  --bg-main: #0B0B0F;
  /* card/panel background */
  --bg-surface: #121218;
  --bg-surface-hover: #18181F;

  --primary: #3B82F6;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: var(--bg-main);
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-surface) inset;
    -webkit-text-fill-color: white;
  }

  /* Desktop */
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Mobile */
  @media (max-width: 714px) {
    ::-webkit-scrollbar {
      width: 3px;
    }
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.35);
  }

}